/* RESETEO */
* {
  margin: 0%;
  padding: 0%;
  scrollbar-width: thin;
  scrollbar-color: #bf9eec #f2ff8d;
}
*::selection {
  background-color: #04bad8;
  color: #f2ff8d;
}
*::-moz-selection {
  background-color: #04bad8;
  color: #f2ff8d;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #f2ff8d;
}

*::-webkit-scrollbar-thumb {
  background-color: #bf9eec;
  border-radius: 20px;
}

html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding-right: 0 !important;
  overflow-x: hidden;
  cursor: url("../assets/cursor.png"), auto;
}
body:active {
  cursor: url("../assets/cursorHover.png"), auto;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #393838;
}
a:hover {
  color: #393838;
}

a,
button,
video::-webkit-media-controls-play-button,
video::-webkit-media-controls-volume-slider-container,
video::-webkit-media-controls-volume-slider,
video::-webkit-media-controls-mute-button,
video::-webkit-media-controls-fullscreen-button,
video::-webkit-media-controls-timeline,
video::-webkit-media-controls-current-time-display {
  cursor: url("../assets/cursorHover.png"), auto !important;
}
a:hover,
button:hover,
video::-webkit-media-controls-play-button:hover,
video::-webkit-media-controls-volume-slider-container:hover,
video::-webkit-media-controls-volume-slider:hover,
video::-webkit-media-controls-mute-button:hover,
video::-webkit-media-controls-fullscreen-button:hover,
video::-webkit-media-controls-timeline:hover,
video::-webkit-media-controls-current-time-display:hover {
  cursor: url("../assets/cursorHover.png"), auto;
}

li {
  list-style-type: none;
}

/* COLORES */
.slider,
.acceptCookies,
.experienceButton {
  background-color: #bf9eec;
}

footer,
.experienceButton:hover,
.experienceButton:focus {
  background-color: #04bad8;
}

.location,
.acceptCookies:hover,
.configuration:hover {
  background-color: #f2ff8d;
}

.skills,
.experience,
.experienceCard,
#button {
  background-color: #ff99c1;
}

.profile,
.cookiesContent,
.configuration {
  background-color: #eeeeea;
}

.bodyContact {
  background: linear-gradient(0deg, #ff99c1 0%, #bf9eec 60%);
  background-repeat: no-repeat;
}

/* COOKIES */
.cookies {
  width: 100vw;
  padding-right: 0 !important;
}

.cookiesBack {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cookiesContent {
  background-image: url(../assets/images/cookies.svg);
  background-size: 60%;
  height: fit-content;
}

.cookiesText {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: "Inconsolata", monospace;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  color: #393838;
}

.cookiesFooter {
  border-style: none;
}

.acceptCookies,
.configuration,
.acceptCookies:focus,
.configuration:focus {
  font-weight: bold;
  border-width: 2px;
  border-style: dashed;
  border-color: #393838;
  color: #393838;
  text-decoration: none;
}

.acceptCookies:hover,
.configuration:hover {
  color: #393838;
  border-width: 2px;
  border-style: dashed;
  border-color: #393838;
}

/* WHATSAPP */
.whatsapp {
  position: fixed;
  z-index: 100;
  right: 10px;
  bottom: 10px;
  display: inline-block;
}
.whatsapp img {
  width: 45px;
}
@media screen and (max-width: 550px) {
  .whatsapp {
    width: 20px;
    right: 30px;
    bottom: 10px;
  }
}

/* HEADER */
header {
  display: flex;
  justify-content: space-around;
  background-image: url(../assets/images/background.svg);
  background-repeat: repeat;
  background-size: contain;
}
@media screen and (max-width: 550px) {
  header {
    flex-direction: column;
    padding: 3% 0;
    box-shadow: 0px 10px 10px rgba(57, 56, 56, 0.5);
    z-index: 1;
  }
}

.brand {
  text-align: center;
  padding: 1%;
  border-style: dashed;
  border-radius: 25px;
  background: linear-gradient(
    120deg,
    rgba(242, 255, 141, 0.8) 12%,
    rgba(255, 153, 193, 0.8) 34%,
    rgba(191, 158, 236, 0.8) 68%,
    rgba(4, 186, 216, 0.8) 90%
  );
  backdrop-filter: blur(1px);
  color: #393838;
  font-family: "Inconsolata", monospace;
  font-size: 1.5em;
  align-self: center;
}
.brand:hover {
  background: linear-gradient(
    120deg,
    #f2ff8d 12%,
    #ff99c1 34%,
    #bf9eec 68%,
    #04bad8 90%
  );
}
@media screen and (max-width: 1200px) {
  .brand {
    font-size: 1em;
    margin: 1% 0;
  }
}
@media screen and (max-width: 850px) {
  .brand {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 550px) {
  .brand {
    padding: 1% 3%;
    font-size: 1em;
  }
}

.navbarDesk {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}
.navbarDesk ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.navbarDesk ul li {
  font-size: 2em;
  padding: 2%;
  background-color: rgba(255, 255, 255, 0.5);
}
.navbarDesk ul li:hover {
  transform: scale(1.1, 1.1);
  transition: all 0.5s;
}
@media screen and (max-width: 1200px) {
  .navbarDesk ul li {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 850px) {
  .navbarDesk ul li {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 850px) {
  .navbarDesk ul {
    padding: 0;
  }
}
@media screen and (max-width: 550px) {
  .navbarDesk ul {
    justify-content: center;
  }
}
@media screen and (max-width: 850px) {
  .navbarDesk {
    width: 50%;
  }
}
@media screen and (max-width: 550px) {
  .navbarDesk {
    width: 100%;
  }
}

.navbarMobile {
  display: none;
}

/* FOOTER */
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 1.5em;
  padding: 2% 2% 3% 5%;
}
@media screen and (max-width: 1200px) {
  footer {
    font-size: 1em;
  }
}
@media screen and (max-width: 850px) {
  footer {
    padding-bottom: 5%;
  }
}
@media screen and (max-width: 550px) {
  footer {
    flex-direction: column;
    padding: 2% 0 5% 0;
    width: 100%;
    align-items: center;
  }
}

.footerRight {
  width: 70%;
  flex-direction: column;
  align-items: flex-start;
}
.footerRight p {
  margin: 1%;
  border-top: #eeeeea solid;
  color: #eeeeea;
  padding: 4% 0 2% 2%;
}
@media screen and (max-width: 550px) {
  .footerRight p {
    display: none;
  }
}
.footerRight p a {
  color: #eeeeea;
  font-weight: bold;
}
.footerRight p a:hover,
.footerRight p a:focus {
  color: #f2ff8d;
}
@media screen and (max-width: 550px) {
  .footerRight {
    width: 100%;
  }
}

.footerNav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 0 1% 5%;
  width: 100%;
}
.footerNav li {
  color: #eeeeea;
}
@media screen and (max-width: 550px) {
  .footerNav {
    flex-direction: column;
    align-items: center;
    padding: 2% 0;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    justify-content: space-between;
    margin: 0;
  }
}

.footerNav a,
.footerNav li {
  padding: 2%;
  color: #eeeeea;
}
.footerNav a:hover,
.footerNav a:focus,
.footerNav li:hover,
.footerNav li:focus {
  color: #f2ff8d;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  margin: 0;
}
.socials li {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
@media screen and (max-width: 550px) {
  .socials li {
    width: auto;
    padding: 3% 5%;
  }
}
.socials li a {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #eeeeea;
  width: 100%;
  text-align: center;
}
.socials li a:hover,
.socials li a:focus {
  color: #f2ff8d;
}
.socials i {
  font-size: 1.5em;
}
.socials p {
  align-self: center;
  padding-left: 7%;
  justify-self: center;
  margin: 0;
}
@media screen and (max-width: 550px) {
  .socials p {
    display: none;
  }
}
@media screen and (max-width: 850px) {
  .socials {
    width: 27.5%;
  }
}
@media screen and (max-width: 550px) {
  .socials {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    padding: 0;
  }
}

.parrafoMobile {
  display: none;
}
.parrafoMobile a {
  color: #eeeeea;
  font-weight: bold;
}
.parrafoMobile a:hover,
.parrafoMobile a:focus {
  color: #f2ff8d;
}
@media screen and (max-width: 550px) {
  .parrafoMobile {
    display: block;
    margin: 1%;
    border-top: #eeeeea solid;
    color: #eeeeea;
    padding: 2% 0 0 2%;
    text-align: center;
    width: 90%;
  }
}

/* INDEX */
/* SLIDER/GRID */
.slider {
  display: flex;
  flex-wrap: wrap;
  flex-direction: initial;
  justify-content: center;
}
@media screen and (max-width: 550px) {
  .slider {
    display: none;
  }
}

.sliderDiv {
  display: grid;
  grid-template-areas:
    "imagen1 imagen1 imagen1 imagen2"
    "imagen4 imagen3 imagen3 imagen2"
    "imagen4 imagen5 imagen6 imagen6";
  margin: 5vh 10px;
  width: 95%;
  height: 95vh;
  grid-template-rows: 3fr 4fr 4fr;
  grid-template-columns: 2fr 4fr 1fr 2fr;
  grid-gap: 20px;
}
@media screen and (max-width: 850px) {
  .sliderDiv {
    display: none;
  }
}

.sliderDivTablet {
  display: none;
}
@media screen and (max-width: 850px) {
  .sliderDivTablet {
    display: grid;
    grid-template-areas:
      "imagen1 imagen1 imagen2"
      "imagen3 imagen3 imagen2";
    height: 80vh;
    width: 95%;
    grid-template-rows: 3fr 4fr;
    grid-template-columns: 2fr 4fr 2fr;
    grid-gap: 20px;
    margin: 5vh 10px;
  }
}

#imagen1,
#imagen2,
#imagen3,
#imagen4,
#imagen5,
#imagen6 {
  width: 100%;
  height: 100%;
  background-size: cover;
}
#imagen1:hover,
#imagen2:hover,
#imagen3:hover,
#imagen4:hover,
#imagen5:hover,
#imagen6:hover {
  transform: scale(1.05, 1.05);
  transition: all 0.5s;
}

#imagen1 {
  grid-area: imagen1;
  background-image: url(../assets/images/index/image1.jpg);
  background-position-y: 40%;
  border: #f2ff8d solid;
  animation-duration: 1s;
}

#imagen2 {
  grid-area: imagen2;
  background-image: url(../assets/images/index/image2.jpg);
  background-position-x: center;
  background-position-y: 20%;
  border: #04bad8 solid;
  animation-duration: 1s;
}

#imagen3 {
  grid-area: imagen3;
  background-image: url(../assets/images/index/image3.jpg);
  border: #ff99c1 solid;
  background-position: center;
  animation-duration: 1s;
}

#imagen4 {
  grid-area: imagen4;
  background-image: url(../assets/images/index/image4.jpg);
  border: #04bad8 solid;
  animation-duration: 1s;
}

#imagen5 {
  grid-area: imagen5;
  background-image: url(../assets/images/index/image5.jpg);
  background-color: #393838;
  background-position-x: center;
  background-position-y: bottom;
  border: #f2ff8d solid;
  animation-duration: 1s;
}

#imagen6 {
  grid-area: imagen6;
  background-image: url(../assets/images/index/image6.jpg);
  border: #ff99c1 solid;
  animation-duration: 1s;
}

/* PROFILE */
.profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 3% 0;
  opacity: 80%;
  height: auto;
}
.profile p {
  width: 50%;
  color: #393838;
  font-size: 1.5em;
  text-align: justify;
}
@media screen and (max-width: 1200px) {
  .profile p {
    font-size: 1em;
  }
}
@media screen and (max-width: 550px) {
  .profile p {
    width: 80%;
    padding-top: 5%;
  }
}
@media screen and (max-width: 550px) {
  .profile {
    padding: 5% 0;
  }
}

.flipCard {
  width: 35%;
  position: relative;
  perspective: 1000px;
  height: 100%;
}
.flipCard:before {
  content: "";
  display: block;
  padding-top: 100%;
}
@media screen and (max-width: 550px) {
  .flipCard {
    width: 70%;
  }
}

.flipInner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flipInner:hover,
.flipInner:focus,
.flipInner:active {
  transform: rotateY(180deg);
  transition-delay: 0.6s;
}

.front,
.back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.front img,
.back img {
  width: 100%;
  border-radius: 100%;
  border: double 5px transparent;
  background-image: linear-gradient(white, white),
    linear-gradient(130deg, #f2ff8d 32%, #ff99c1 72%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  padding: 1%;
}

.front p {
  display: none;
  position: absolute;
  font-size: 4em;
  font-weight: bold;
  width: fit-content;
  color: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-text-stroke: 1px #04bad8;
}

.front:hover p {
  display: block;
  -webkit-animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@media screen and (max-width: 1200px) {
  .front:hover p {
    font-size: 2.5em;
  }
}
@media screen and (max-width: 850px) {
  .front:hover p {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 550px) {
  .front:hover p {
    font-size: 2em;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.back {
  transform: rotateY(180deg);
}
.back p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4em;
  font-weight: bold;
  width: fit-content;
  color: transparent;
  -webkit-text-stroke: 1px #f2ff8d;
}
@media screen and (max-width: 1200px) {
  .back p {
    font-size: 2.5em;
  }
}
@media screen and (max-width: 850px) {
  .back p {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 550px) {
  .back p {
    font-size: 2em;
  }
}

/* LOCATION */
.location {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 5% 2%;
}
.location iframe {
  border: 10px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(215deg, #bf9eec 47%, #04bad8 81%);
  width: 40%;
  height: 450px;
}
@media screen and (max-width: 1200px) {
  .location iframe {
    height: 300px;
  }
}
@media screen and (max-width: 550px) {
  .location iframe {
    width: 80%;
  }
}
.location p {
  width: 50%;
  font-size: 2em;
  text-align: center;
  color: #393838;
  opacity: 70%;
}
@media screen and (max-width: 1200px) {
  .location p {
    font-size: 1em;
  }
}
@media screen and (max-width: 550px) {
  .location p {
    width: 80%;
    padding-bottom: 5%;
  }
}
@media screen and (max-width: 550px) {
  .location {
    flex-direction: column;
  }
}

/* SKILLS */
.skills {
  display: flex;
  flex-wrap: wrap;
  flex-direction: initial;
  justify-content: space-around;
  padding: 2% 5%;
}
@media screen and (max-width: 550px) {
  .skills {
    padding-top: 5%;
  }
}

.skill {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
  padding: 2%;
}
.skill img {
  width: 70%;
  -webkit-filter: drop-shadow(5px 5px 5px #3938382e);
  filter: drop-shadow(5px 5px 5px #3938382e);
}
.skill p {
  padding: 5%;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  color: #f2ff8d;
  font-family: "Inconsolata", monospace;
}
@media screen and (max-width: 1200px) {
  .skill p {
    font-size: 1em;
  }
}
@media screen and (max-width: 850px) {
  .skill {
    width: 40%;
  }
}
@media screen and (max-width: 550px) {
  .skill {
    width: 80%;
    padding: 5% 0;
  }
}

.skillImage {
  position: relative;
  text-align: center;
}

.titleSkill,
.titleSkillBottom {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f2ff8d;
  font-weight: bold;
  z-index: 3;
}

.titleSkill {
  font-size: 7em;
}
@media screen and (max-width: 1200px) {
  .titleSkill {
    font-size: 5em;
  }
}
@media screen and (max-width: 850px) {
  .titleSkill {
    font-size: 4em;
  }
}

.titleSkillBottom {
  font-size: 5em;
}
@media screen and (max-width: 1200px) {
  .titleSkillBottom {
    font-size: 3em;
  }
}
@media screen and (max-width: 850px) {
  .titleSkillBottom {
    font-size: 2em;
  }
}

/* EXPERIENCIA */
.experience {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 2% 0;
  width: 100%;
}
.experience h2 {
  color: #f2ff8d;
  font-size: 3em;
  padding: 3% 0 2% 0;
}
@media screen and (max-width: 550px) {
  .experience h2 {
    font-size: 2.5em;
  }
}
.experience p {
  color: #f2ff8d;
  font-size: 2em;
  padding: 1%;
  text-align: center;
}
@media screen and (max-width: 550px) {
  .experience p {
    font-size: 1.5em;
  }
}

/* gif */
.experienceButton {
  color: #f2ff8d;
  text-decoration: none;
  font-size: 2em;
  border: 3px dashed #393838;
  text-align: center;
  width: 70%;
}
.experienceButton:hover {
  border: 3px dashed #393838;
  color: #f2ff8d;
}
.experienceButton:focus {
  color: #f2ff8d;
  text-decoration: none;
  font-size: 2em;
  border: 3px dashed #393838;
}
@media screen and (max-width: 550px) {
  .experienceButton {
    font-size: 1.5em;
    width: 90%;
  }
  .experienceButton:focus {
    font-size: 1.5em;
  }
}

.clickLeftDesktop,
.clickRightDesktop {
  width: 4%;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@media screen and (max-width: 850px) {
  .clickLeftDesktop,
  .clickRightDesktop {
    display: none;
  }
}

.clickLeftDesktop {
  transform: rotate(60deg);
}

.clickRightDesktop {
  transform: rotate(-20deg);
}

.clickLeftMobile,
.clickRightMobile {
  display: none;
}
@media screen and (max-width: 850px) {
  .clickLeftMobile,
  .clickRightMobile {
    display: inline-block;
    width: 8%;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
}

.clickRightMobile {
  transform: rotateY(180deg);
}

.experienceCard {
  border-style: none;
  align-items: center;
  justify-content: center;
}

.meme {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2%;
  width: 100%;
}
@media screen and (max-width: 550px) {
  .meme p {
    font-size: 1em;
  }
}

.memeGif {
  border-radius: 20px;
  border-style: dashed;
  padding: 1%;
  border-color: #393838;
  margin: 2%;
}
@media screen and (max-width: 550px) {
  .memeGif {
    width: 80%;
  }
}

/* video */
.memeVideo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2%;
}

.memeVideoTab {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/images/experience/tab.svg);
  background-repeat: no-repeat;
  padding: 12% 0 3% 0;
  margin-top: 5%;
  width: 100%;
  background-position: center;
}
.memeVideoTab video {
  border-radius: 20px;
  width: auto;
}
@media screen and (max-width: 850px) {
  .memeVideoTab video {
    width: 85%;
  }
}
@media screen and (max-width: 850px) {
  .memeVideoTab {
    width: 85%;
  }
}

/* proyectos-titulo */
.cheems {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 5% 0 2% 0;
}
@media screen and (max-width: 550px) {
  .cheems {
    width: 100%;
  }
}

.cheem {
  width: 20%;
  z-index: 5;
  position: relative;
}
.cheem img {
  padding: 1%;
  border: 3px #f2ff8d solid;
  border-radius: 25px;
  background-color: #04bad8;
}
@media screen and (max-width: 550px) {
  .cheem img {
    display: none;
  }
}

@keyframes shrink {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

#speech-bubble {
  width: 150px;
  z-index: 10;
  position: absolute;
  left: 20%;
  top: -5%;
  transform-origin: 50% 100%;
  transform: scale(0);
  animation-fill-mode: forwards;
  animation-name: shrink;
  animation-duration: 0.3s;
}
@media screen and (max-width: 850px) {
  #speech-bubble {
    display: none;
  }
}

@keyframes expand-bounce {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

.cheem:hover #speech-bubble {
  animation-name: expand-bounce;
  animation-duration: 0.8s;
}

#bub-part-a {
  margin-left: 6px;
  width: calc(100% - 12px);
  height: 2px;
  background: #393838;
}

#bub-part-b {
  margin-left: 4px;
  width: calc(100% - 8px);
  height: 2px;
  background: #eeeeea;
  border-left: 2px solid #393838;
  border-right: 2px solid #393838;
}

#bub-part-c {
  margin-left: 2px;
  width: calc(100% - 4px);
  height: 2px;
  background: #eeeeea;
  border-left: 2px solid #393838;
  border-right: 2px solid #393838;
}

#speech-txt {
  width: 100%;
  padding: 0 10px;
  background: #eeeeea;
  border-left: 2px solid #393838;
  border-right: 2px solid #393838;
}
#speech-txt p {
  width: 100%;
  font-family: "Inconsolata", monospace;
  font-size: 1em;
  font-weight: bold;
  color: #393838;
  text-align: center;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 1200px) {
  #speech-txt {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 850px) {
  #speech-txt {
    font-size: 0.6em;
  }
}

#speech-arrow {
  margin-top: -2px;
  margin-left: 110px;
}

#arrow-w {
  width: 8px;
  height: 8px;
  background: #eeeeea;
  border-left: 2px solid #393838;
  border-right: 2px solid #393838;
}

#arrow-x {
  width: 6px;
  height: 2px;
  background: #eeeeea;
  border-left: 2px solid #393838;
  border-right: 2px solid #393838;
}

#arrow-y {
  margin-left: -2px;
  width: 6px;
  height: 2px;
  background: #eeeeea;
  border-left: 2px solid #393838;
  border-right: 2px solid #393838;
}

#arrow-z {
  margin-left: -2px;
  width: 4px;
  height: 2px;
  background: #393838;
}

.cheemsMid {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 550px) {
  .cheemsMid {
    width: 100%;
    padding: 8% 0 3% 0;
  }
}

.lineCheems {
  position: absolute;
  width: 100%;
  height: 1px;
  align-self: center;
  border-top: 3px #f2ff8d;
  border-top-style: solid;
}

.titleCheems {
  color: #f2ff8d;
  font-weight: bold;
  font-size: 2em;
  background-color: #04bad8;
  padding: 1%;
  border-radius: 25px;
  border: 3px #f2ff8d solid;
  text-align: center;
  z-index: 3;
}
@media screen and (max-width: 850px) {
  .titleCheems {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 550px) {
  .titleCheems {
    font-size: 1.3em;
    width: 70%;
  }
}

/* proyectos*/
.proyects {
  width: 95%;
  padding: 2% 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.proyects ul {
  display: grid;
  width: 100%;
  grid-template-columns: 3fr 3fr 3fr 3fr;
  grid-column-gap: 2%;
  grid-row-gap: 3vh;
  justify-items: center;
  padding: 0;
}
@media screen and (max-width: 1200px) {
  .proyects ul {
    grid-template-columns: 4fr 4fr 4fr;
  }
}
@media screen and (max-width: 850px) {
  .proyects ul {
    grid-template-columns: 6fr 6fr;
  }
}
@media screen and (max-width: 550px) {
  .proyects ul {
    grid-template-columns: 12fr;
    width: 75%;
  }
}

.proyect {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2% 0;
  background-color: #bf9eec;
  border-radius: 5px;
  border: 3px dashed #393838;
  z-index: 1;
  transition: all 0.3s ease;
  position: relative;
}
.proyect a {
  color: #f2ff8d;
  font-size: 1.5em;
  font-weight: bold;
  width: 100%;
  text-align: center;
  pointer-events: none;
}
.proyect::after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #04bad8;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.proyect:hover::after {
  left: 0;
  width: 100%;
}

.bolder {
  font-weight: bold;
}

.gif {
  position: absolute;
  z-index: 3;
}
.gif:hover {
  transform: scale(1.3, 1.3);
  transition: all 1s;
}

.worm {
  bottom: 2px;
  left: 5%;
}

.bell {
  top: 65%;
  left: 80%;
}

.mouth {
  top: 60%;
  right: 80%;
}

.toaster {
  top: 25%;
  left: 88%;
}

.clock {
  top: 28%;
  right: 90%;
}

@media screen and (max-width: 850px) {
  .gif {
    display: none;
  }
}

/* CONTACTO */
.contact {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3% 0 20% 0;
  width: 100%;
  height: 100%;
}
.contact h2 {
  color: #f2ff8d;
  font-size: 3em;
  padding-bottom: 2%;
}
.contact form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  color: #f2ff8d;
  font-size: 2em;
}
@media screen and (max-width: 850px) {
  .contact {
    padding: 5% 0;
  }
}
@media screen and (max-width: 550px) {
  .contact {
    font-size: 0.8em;
    padding-bottom: 5%;
    width: 100%;
  }
}

.contactForm {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

#button {
  margin-top: 2%;
  padding: 1%;
  color: #f2ff8d;
  font-size: 1em;
  border-radius: 5px;
  height: 10%;
  display: block;
  width: 30%;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  border: 3px dashed #393838;
  z-index: 1;
  transition: all 0.3s ease;
  position: relative;
}
#button::after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #04bad8;
  border-radius: 5px;
  transition: all 0.3s ease;
}
#button:hover::after {
  left: 0;
  width: 100%;
}
@media screen and (max-width: 550px) {
  #button {
    width: 40%;
  }
}
