/* LOCATION */

.location {
  @include flex(flex, wrap, row, space-evenly, center);
  padding: 5% 2%;

  iframe {
    border: 10px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(215deg, $violeta 47%, $turquesa 81%);
    width: 40%;
    height: 450px;

    @media screen and (max-width: 1200px) {
      height: 300px;
    }

    @media screen and (max-width: 550px) {
      width: 80%;
    }
  }

  p {
    width: 50%;
    font-size: 2em;
    text-align: center;
    color: $negro;
    opacity: 70%;

    @media screen and (max-width: 1200px) {
      font-size: 1em;
    }

    @media screen and (max-width: 550px) {
      width: 80%;
      padding-bottom: 5%;
    }
  }

  @media screen and (max-width: 550px) {
    flex-direction: column;
  }
}
