/* SKILLS */

.skills {
  @include flex(flex, wrap, initial, space-around, null);
  padding: 2% 5%;

  @media screen and (max-width: 550px) {
    padding-top: 5%;
  }
}

.skill {
  @include flex (flex, wrap, column, space-evenly, center);
  width: 30%;
  padding: 2%;

  img {
    width: 70%;
    -webkit-filter: drop-shadow(5px 5px 5px #3938382e);
    filter: drop-shadow(5px 5px 5px #3938382e);
  }

  p {
    padding: 5%;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: $amarillo;
    font-family: $serif;

    @media screen and (max-width: 1200px) {
      font-size: 1em;
    }
  }

  @media screen and (max-width: 850px) {
    width: 40%;
  }

  @media screen and (max-width: 550px) {
    width: 80%;
    padding: 5% 0;
  }
}

.skillImage {
  position: relative;
  text-align: center;
}

.titleSkill,
.titleSkillBottom {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $amarillo;
  font-weight: bold;
  z-index: 3;
}

.titleSkill {
  font-size: 7em;

  @media screen and (max-width: 1200px) {
    font-size: 5em;
  }

  @media screen and (max-width: 850px) {
    font-size: 4em;
  }
}

.titleSkillBottom {
  font-size: 5em;

  @media screen and (max-width: 1200px) {
    font-size: 3em;
  }

  @media screen and (max-width: 850px) {
    font-size: 2em;
  }
}
