%violeta {
    background-color: $violeta;
}

%turquesa {
    background-color: $turquesa;
}

%amarillo {
    background-color: $amarillo;
}

%rosado {
    background-color: $rosado;
}

%blanco {
    background-color: $blanco;
}

%negro {
    background-color: $negro;
}