//COLORES
$blanco: #EEEEEA;
$amarillo: #F2FF8D;
$rosado: #FF99C1;
$turquesa: #04BAD8;
$violeta: #BF9EEC;
$negro: #393838;

//TIPOGRAFÍAS
$serif: 'Inconsolata', monospace;
$sansserif: 'Raleway', sans-serif;