/* CONTACTO */

.contact {
  @include flex(flex, wrap, column, center, center);
  padding: 3% 0 10% 0;
  width: 100%;
  height: 100%;

  h2 {
    color: $amarillo;
    font-size: 3em;
    padding-bottom: 2%;

    @media screen and (max-width: 550px) {
      font-size: 1.5em;
    }
  }

  form {
    @include flex(flex, wrap, column, initial, center);
    color: $amarillo;
    font-size: 2em;
  }

  @media screen and (max-width: 850px) {
    padding: 5% 0;
  }

  @media screen and (max-width: 550px) {
    font-size: 0.8em;
    padding-bottom: 5%;
    width: 100%;
  }
}

.contactForm {
  @include flex(flex, wrap, column, initial, center);
  width: 80%;
}

#button {
  margin-top: 2%;
  padding: 1%;
  @extend %rosado;
  color: $amarillo;
  font-size: 1em;
  border-radius: 20px;
  border-style: none;
  height: 10%;
  display: block;
  width: 30%;
  animation-duration: 1s;
  animation-iteration-count: infinite;

  @media screen and (max-width: 550px) {
    width: 40%;
  }
}
