/* CONTACTO */

.contact {
  @include flex(flex, wrap, column, center, center);
  padding: 3% 0 20% 0;
  width: 100%;
  height: 100%;

  h2 {
    color: $amarillo;
    font-size: 3em;
    padding-bottom: 2%;
  }

  form {
    @include flex(flex, wrap, column, null, center);
    color: $amarillo;
    font-size: 2em;
  }

  @media screen and (max-width: 850px) {
    padding: 5% 0;
  }

  @media screen and (max-width: 550px) {
    font-size: 0.8em;
    padding-bottom: 5%;
    width: 100%;
  }
}

.contactForm {
  @include flex(flex, wrap, column, null, center);
  width: 80%;
}

#button {
  margin-top: 2%;
  padding: 1%;
  @extend %rosado;
  color: $amarillo;
  font-size: 1em;
  border-radius: 5px;
  height: 10%;
  display: block;
  width: 30%;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  border: 3px dashed $negro;
  z-index: 1;
  transition: all 0.3s ease;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: $turquesa;
    border-radius: 5px;
    transition: all 0.3s ease;
  }

  &:hover::after {
    left: 0;
    width: 100%;
  }

  @media screen and (max-width: 550px) {
    width: 40%;
  }
}
