  /* COLORES */

  .slider {
    background-color: $violeta;
}

.profile {
    background-color: $blanco;
}

.location {
    background-color: $amarillo;
}

.skills {
    background-color: $rosado;
}

footer {
    background-color: $turquesa;
}

.experience {
    background-color: $rosado;
}

.bodyContact {
    background: linear-gradient(0deg, $rosado 0%, $violeta 60%);
    background-repeat: no-repeat;
}