/* COOKIES */

.cookies {
  width: 100vw;
  padding-right: 0 !important;
}

.cookiesBack {
  min-height: 100vh;
  @include flex(flex, wrap, null, center, center);
}

.cookiesContent {
  background-image: url(../assets/images/cookies.svg);
  background-size: 60%;
  @extend %blanco;
  height: fit-content;
}

.cookiesText {
  @include flex(flex, wrap, null, null, center);
  font-family: $serif;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  color: $negro;
}

.cookiesFooter {
  border-style: none;
}

.acceptCookies,
.configuration, .acceptCookies:focus, .configuration:focus {
  font-weight: bold;
  border-width: 2px;
  border-style: dashed;
  border-color: $negro;
  color: $negro;
  text-decoration: none;
}

.acceptCookies:hover,
.configuration:hover {
  @extend %amarillo;
  color: $negro;
  border-width: 2px;
  border-style: dashed;
  border-color: $negro;
}

.acceptCookies {
  @extend %violeta;
}

.configuration {
  @extend %blanco;
}
