/* FOOTER */

footer {
  @include flex(flex, wrap, null, space-between, null);
  font-size: 1.5em;
  padding: 2% 2% 3% 5%;

  @media screen and (max-width: 1200px) {
    font-size: map-get($textos, textSize);
  }

  @media screen and (max-width:850px) {
    padding-bottom: 5%;
  }

  @media screen and (max-width: 550px) {
    flex-direction: column;
    padding: 2% 0 5% 0;
    width: 100%;
    align-items: center;
  }
}

.footerRight {
  width: 70%;
  flex-direction: column;
  align-items: flex-start;
  p {
    margin: 1%;
    border-top: $blanco solid;
    color: $blanco;
    padding: 4% 0 2% 2%;

    @media screen and (max-width: 550px) {
      display: none;
    }

    a {
      color: $blanco;
      font-weight: bold;
      &:hover, &:focus {
        color: $amarillo;
      }
    }
  }

  @media screen and (max-width: 550px) {
    width: 100%;
  }
}

.footerNav {
  @include flex(flex, wrap, row, flex-start, null);
  padding: 0 0 1% 5%;
  width: 100%;

  li {
    color: $blanco;
  }

  @media screen and (max-width: 550px) {
    flex-direction: column;
    align-items: center;
    padding: 2% 0;
    font-size: map-get($textos, textSize);
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    justify-content: space-between;
    margin: 0;
  }
}

.footerNav a,
.footerNav li {
  padding: 2%;
  color: $blanco;

  &:hover, &:focus {
    color: $amarillo;
  }
}

.socials {
  @include flex(flex, wrap, null, space-around, center);
  width: 20%;
  margin: 0;

  li {
    @include flex(flex, wrap, null, center, flex-start);
    width: 100%;

    @media screen and (max-width: 550px) {
      width: auto;
      padding: 3% 5%;
    }

    a {
      @include flex(flex, wrap, row, flex-start, center);
      color: $blanco;
      width: 100%;
      text-align: center;

      &:hover, &:focus {
        color: $amarillo;
      }
    }
  }

  i {
    font-size: 1.5em;
  }

  p {
    align-self: center;
    padding-left: 7%;
    justify-self: center;
    margin: 0;

    @media screen and (max-width: 550px) {
      display: none;
    }
  }

  @media screen and (max-width: 850px) {
    width: 27.5%;
  }

  @media screen and (max-width: 550px) {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    padding: 0;
  }
}

.parrafoMobile {
  display: none;

  a {
    color: $blanco;
    font-weight: bold;

    &:hover, &:focus {
      color: $amarillo;
    }
  }

  @media screen and (max-width: 550px) {
    display: block;
    margin: 1%;
    border-top: $blanco solid;
    color: $blanco;
    padding: 2% 0 0 2%;
    text-align: center;
    width: 90%;
  }
}
