/* RESETEO */

* {
  margin: 0%;
  padding: 0%;
}

html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;

}

header,
.slider,
.location,
.skills,
.profile {
  overflow: hidden;
}

body {
  font-family: $sansserif;
  @include flex(flex, wrap , column, space-between);
  min-height: 100vh;
  padding-right: 0 !important;
  overflow-x: hidden;
  cursor:url("../assets/cursor.png"), auto;
}

main {
  @include flex(flex, wrap, column)
}

a {
  text-decoration: map-get($textos, textDecoration);
  color: map-get($textos, color);
  &:hover{
    color: map-get($textos, color);
  }
}

a, button, video::-webkit-media-controls-play-button, video::-webkit-media-controls-volume-slider-container, video::-webkit-media-controls-volume-slider, video::-webkit-media-controls-mute-button, video::-webkit-media-controls-fullscreen-button, video::-webkit-media-controls-timeline, video::-webkit-media-controls-current-time-display {
  cursor: url("../assets/cursorHover.png"), auto !important;
  &:hover{
  cursor: url("../assets/cursorHover.png"), auto;
  }
}

li {
  list-style-type: none;
}
