/* WHATSAPP */

.whatsapp {
  position: fixed;
  z-index: 100;
  right: 10px;
  bottom: 10px;
  display: inline-block;

  img {
    width: 45px;
  }

  @media screen and (max-width: 550px) {
    width: 20px;
    right: 30px;
    bottom: 10px;
  }
}
